<main class="mx-5">
    
    <div class="mx-5">
        <h3>商品詳細</h>
    </div>
    
    <div class="row">
    <div class="center-blok col-4">
        <% if @item.image.attached? %>
            <%= image_tag @item.image, size: "300x300" %>
        <% else %>
            <%= image_tag 'no_image', size: "300x300" %>
        <% end %>
    </div>
    
    <table class="col-3">
    <div class="mt-5">
        <tbody>
        <tr>
            <td><p class="mt-3">商品名</p></td>
            <td><p class="mt-3"><%= @item.name %></p> </td>
        </tr>
        <tr>
            <td><p class="mt-3">商品説明</p></td> 
            <td><p><class="mt-3"><%= @item.introduction %></p></td>
        </tr>
        <tr>
            <td><p class="mt-3">ジャンル</p></td> 
            <td><p class="mt-3">
                    <% if @item.genre_id == 1 %>
                        ケーキ
                    <% elsif @item.genre_id == 2 %>
                        プリン
                    <% elsif @item.genre_id == 3 %>
                        焼き菓子
                    <% else @item.genre_id == 4 %>
                        キャンディ
                    <% end %>
            </p></td>
        </tr>
        <tr>
            <td><p class="mt-3">税込価格</br>(税抜価格)</p></th>
            <td><p class="mt-3"><%= (@item.price * 1.1).floor %> (<%= @item.price %>)円</p></td>
        </tr>
        
        <tr>
            <td><p class="mt-3">販売ステータス</p></td>
            <td><p class="mt-3">
                <% if @item.is_active %>
                    販売中
                <% else %>
                    販売停止中
                <% end %>
            </p></td>
        </tr>
        </tbody>
    </div>
    </table>
    </div>
    </div>
        <div class="mx-auto" style="width: 200px;">
            <%= link_to edit_admin_item_path(@item.id) do %>
             <button type="button" class="btn btn-success">編集する</button>
            <% end %>
</main>