<main>
    <div>
        <h4>商品詳細</h4>
    </div>
    
    <div>
        <% if @item.image.attached? %>
            <%= image_tag @item.image, size: "500x500" %>
        <% else %>
            <%= image_tag 'no_image', size: "500x500" %>
        <% end %>
    </div>
    
    <div>
        商品名<%= @item.name %>
        商品説明<%= @item.introduction %>
        ジャンル<%= @item.genre_id %>
        税込価格<%= @item.price %>
        販売ステータス<%= @item.is_active %>
    </div>
    
    <div><%= link_to '編集する', edit_admin_item_path(@item.id) %></div>
</main>