<main>
    <div>
        <h4>商品詳細</h4>
    </div>
    
    <div></div>
    
    <div>
        商品名<%= @item.name %>
        商品説明<%= @item.introduction %>
        ジャンル<%= @item.genre_id %>
        税込価格<%= @item.price %>
        販売ステータス<%= @item.is_active %>
    </div>
</main>