<h1>Pトップページ</h1>
<main>
  
  <div>
    ジャンル検索
  </div>
  
  <div>
    ようこそ、ながのCAKEへ！<br>
    このサイトは、ケーキ販売のECサイトになります。<br>
    会員でない方も商品の閲覧はできますが、<br>
    購入には会員登録が必要になります。
  </div>
    
  <h1>新着商品</h1>
    
  <div>
        <% @items.each do |item| %>
        <ul>
            <%= link_to show_items_path(item.id) do %>
            <li>
                <% if item.image.attached? %>
                    <%= image_tag item.image, size: "100x100" %>
                <% else %>
                    <%= image_tag 'no_image', size: "100x100" %>
                <% end %>
            </li>
            <li>
                <%= item.name %>
            </li>
            <% end %>
            <li>
                <%= item.price %>
            </li>
        </ul>
        <% end %>
    </div>
  
  <div>
    <%= link_to "全ての商品を見る＞", items_path %>
  </div>
    

</main>

    　