<main>
    <div><h3>注文履歴一覧</h3></div>
    
    <div>
            
        <table class="table table-hover table-inverse">
        <thead>
            <tr>
                <th>注文日</th>
                <th>配送先</th>
                <th>注文商品</th>
                <th>支払い金額</th>
                <th>ステータス</th>
                <th>注文詳細</th>
            </tr>
        </thead>
        
        <tobody>
            <% @orders.each do |order| %>
            <tr>
                <th><%= order.created_at %></th>
                <th>
                    <%= order.postal_code %> </br>
                    <%= order.address %> </br>
                    <%= order.name %>
                </th>
                <th>
                    <% order.order_details.each do |order_detail| %>
                        <%= order_detail.item.name %>
                    <% end %>
                </th>
                <th><%= order.total_payment %></th>
                <th><%= order.status %></th>
                <th><%= link_to "表示する", show_orders_path(order) %></th>
            </tr>
            <% end %>
        </tobody>
        </table>
    </div>
    
</main>