<main>
    <div><h3>注文履歴詳細</h3></div>
    
    <div>
        <strong>注文情報</strong>
        注文日<%= @order.created_at %> </br>
        配送先
        <%= @order.postal_code %> </br>
        <%= @order.address %> </br>
        <%= @order.name %> </br>
        支払方法
        <%= @order.payment_method %></br>
        ステータス
        <%= @order.states %> </br>
    </div>

    <div>
        <strong>注文内容</strong>
        
        <table class="table table-hover table-inverse">
        <thead>
            <tr>
                <th>商品名</th>
                <th>単価（税込）</th>
                <th>数量</th>
                <th>小計</th>
            </tr>
        </thead>
        
        <tobody>
            <% @order_details.each do |order_detail| %>
            <tr>
                <th><%= order_detail.item.name %></th>
                <th><%= order_detail.price %></th>
                <th><%= order_detail.amount %></th>
                <th><%= order_detail.price * order_detail.amount %></th>
                <% @sum += order_detail.price * order_detail.amount %>
            </tr>
            <% end %>
        </tobody>
        </table>
    </div>
    
    <div>
        <strong>請求情報</strong> </br>
        商品合計 <%= @sum %> </br>
        配送料<%= @order.shipping_cost %></br>
        ご請求額<%= @order.total_payment %>
    </div>
</main>