<main class="mx-5 my-3">
    
    <h3>商品一覧（全<%= @items.count %>件）</h3>
    
    <div class="my-3">
      <div class="row justify-content-center">

        <% @items_page.each do |item| %>
        <ul class="list-unstyled px-3">
            <%= link_to show_items_path(item.id) do %>
            <li class="border border-dark">
                <% if item.image.attached? %>
                    <%= image_tag item.image, size: "300x200" %>
                <% else %>
                    <%= image_tag 'no_image', size: "300x200" %>
                <% end %>
            </li>
            <li>
                <%= item.name %>
            </li>
            <% end %>
            <li>
                ¥<%= (item.price * 1.1).floor %>
            </li>
        </ul>
        <% end %>
      </div>
    </div>
    
    <div class="row justify-content-center"><%= paginate @items_page %></div>
</main>