<main>
    <h3>商品一覧（全<%= @items.count %>件）</h3>
    
    <div>
        <% @items_page.each do |item| %>
        <ul>
            <%= link_to show_items_path(item.id) do %>
            <li>
                <% if item.image.attached? %>
                    <%= image_tag item.image, size: "100x100" %>
                <% else %>
                    <%= image_tag 'no_image', size: "100x100" %>
                <% end %>
            </li>
            <li>
                <%= item.name %>
            </li>
            <% end %>
            <li>
                ¥<%= (item.price * 1.1).floor %>
            </li>
        </ul>
        <% end %>
    </div>
    <div><%= paginate @items_page %></div>
</main>