<main>
    <div>
        <% if @item.image.attached? %>
            <%= image_tag @item.image, size: "500x500" %>
        <% else %>
            <%= image_tag 'no_image', size: "500x500" %>
        <% end %>
    </div>
    
    <div>
        <ul>
            <li>
                <%= @item.name %>
            </li>
            <li>
                <%= @item.introduction %>
            </li>
            <li>
                <strong>¥<%= (@item.price * 1.1).floor %></strong>（税込）
            </li>
            
            <li>
                <%= form_with model: @cart_items, url: cart_items_path, method: :post do |f| %>
                    <%= f.hidden_field :item_id, :value => @item.id %>
                    <%= f.select :amount, *[1..30] %>
                    <%= f.submit 'カートに入れる' %>
                <% end %>
            </li>
        </ul>
    </div>
</main>